<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
	</head>
	<body>
	{{ content }}
		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="8u">
								<section>
									<header class="major">
										<h2>Service Timings</h2>
										<span class="byline">Weekly services</span>
									</header>
									<div class="row">
										<section class="6u">
											<ul class="default">
												<li><b>Saturday</b>: Evening Prayer - 6:30pm</li>
												<li><b>Sunday</b>: Morning Prayer - 7:45am
												</br> Holy Qurbana - 8:45am</li>
											</ul>
										</section>
										<section class="6u">
											<ul class="default">
												<li><a href="https://calendar.google.com/calendar/embed?src=stthomascathedralsingapore%40gmail.com&ctz=Asia/Singapore">Liturgical Calendar</a></li>
											</ul>
										</section>
									</div>
								</section>
							</div>
							<div class="4u">
								<section>
									<header class="major">
										<h2>Contact Us</h2>
										<span class="byline">The vicar contact details:</span>
									</header>
									<ul class="contact">
										<li>
											<span class="address">Address</span>
											<span>650 Yio Chu Kang Rd<br />Singapore, 787075</span>
										</li>
										<li>
											<span class="mail">Mail</span>
											<span><a href="mailto:vicar@stosc.com">vicar@stosc.com</a></span>
										</li>
										<li>
											<span class="phone">Phone</span>
											<span>+65 6456 8719</span>
										</li>
									</ul>
								</section>
							</div>
						</div>

					<!-- Copyright -->
						

				</div>
			</div>

	</body>
</html>