---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="{{site.baseurl}}" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Welcome to STOSC</h2>
										<span class="byline">St. Thomas Orthodox Syrian Cathedral, Singapore is a parish of the Chennai Diocese of the Malankara Orthodox Syrian Church of India. We inherit the untainted apostolic faith from Apostle St. Thomas which has been upheld and preserved with reverence for generations.</span>
									</header>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>Highlights</h2>
						<span class="byline">.. and Annoucements</span>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="{{site.baseurl}}" class="image feature"><img alt="image" src="{{ site.baseurl }}/assets/images/pic04.jpg" alt=""></a>
							<p>Join Prof Mary Mathew, General Secretary Marth Mariam Vanitha Samajam (Women’s Wing of Orthodox Church of India) in the 2nd of 4 Lenten Retreat Messages on Saturday 7 PM</p>
						</section>
						<section class="4u">
							<a href="{{site.baseurl}}" class="image feature"><img alt="image" src="{{site.baseurl}}/assets/images/holy-week.jpg" alt=""></a>
							<p>Join us in the Great Lent. Attend Services by booking or view online</p>
						</section>
						<section class="4u">
							<a href="{{site.baseurl}}" class="image feature"><img alt="image" src="{{site.baseurl}}/assets/images/pic03.jpg" alt=""></a>
							<p>Members contact Secretary or Vicar to get registration link to attend services</p>
						</section>
					</div>
				</section>
			</div>

	{{ content }}