---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="{{site.baseurl}}" id="logo">{{ page.title }}</a></h1>

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<h2>Welcome to STOSC</h2>
										<span class="byline">St. Thomas Orthodox Syrian Cathedral, Singapore is a parish of the Chennai Diocese of the Malankara Orthodox Syrian Church of India. We inherit the untainted apostolic faith from Apostle St. Thomas which has been upheld and preserved with reverence for generations.</span>
									</header>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style2">
				<section class="container">
					<header class="major">
						<h2>Featured</h2>
						<span class="byline">Highlights and Annoucements</span>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="{{site.baseurl}}" class="image feature"><img alt="image" src="{{site.baseurl}}/assets/images/pic03.jpg" alt=""></a>
							<p>This advisory provides guidance to religious organisations on the gradual resumption of more activities in places of worship during Phase Two.</p>
						</section>
						<section class="4u">
							<a href="{{site.baseurl}}" class="image feature"><img alt="image" src="{{site.baseurl}}/assets/images/pic03.jpg" alt=""></a>
							<p>Members contact Secretary or Vicar to get registration link to attend services</p>
						</section>
						<section class="4u">
							<a href="{{site.baseurl}}" class="image feature"><img alt="image" src="{{ site.baseurl }}/assets/images/pic04.jpg" alt=""></a>
							<p>Curabitur sem urna, consequat vel, suscipit convallis sem leo, mattis placerat, nulla. Sed ac leo.</p>
						</section>
					</div>
				</section>
			</div>

	{{ content }}